@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.iron {
  padding: .5em;
  text-align: center;
  background-color: #ffcc00;
}

.cap-title {
  padding: .5em;
  text-align: center;
  background-color: #3333ff;
}

.thor-title {
  padding: .5em;
  text-align: center;
  background-color: #1affff;
}

.hulk-title {
  padding: .5em;
  text-align: center;
  background-color: #6600cc;
}

.ironman {
  font-size: 15em;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #900000;
  -webkit-animation: ironman-move 5s linear infinite;
  animation: ironman-move 5s linear infinite;
}

@-webkit-keyframes ironman-move {
  0% {
    -webkit-transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(-16px);
  }
  100% {
    -webkit-transform: translateY(22px);
  }
}

@keyframes ironman-move {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(22px);
  }
}

.cap {
  font-size: 15em;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #ff0000;
  -webkit-animation: shield-rotate 5s linear infinite;
  animation: shield-rotate 5s linear infinite;
}

@-webkit-keyframes shield-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes shield-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hammer {
  font-size: 15em;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #505050;
  -webkit-animation: hammer-throw 5s linear infinite;
  animation: hammer-throw 5s linear infinite;
}

@-webkit-keyframes hammer-throw {
  0% {
    -webkit-transform: translate(20px, 20px);
  }
  34% {
    -webkit-transform: translate(40px, -40px);
  }
  67% {
    -webkit-transform: translate(60px, 50px);
  }
  100% {
    -webkit-transform: translate(80px, -20px);
  }
}

@keyframes hammer-throw {
  0% {
    transform: translate(20px, 20px);
  }
  34% {
    transform: translate(40px, -40px);
  }
  67% {
    transform: translate(60px, 50px);
  }
  100% {
    transform: translate(80px, -20px);
  }
}

.hulk {
  font-size: 15em;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #009933;
  -webkit-animation: hulk-scale 5s linear infinite alternate;
  animation: hulk-scale 5s linear infinite alternate;
}

@-webkit-keyframes hulk-scale {
  0% {
    -webkit-transform: scale(1.5, 1.5);
  }
  34% {
    -webkit-transform: scale(0.7, 0.7);
  }
  67% {
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(0.7, 0.7);
  }
}

@keyframes hulk-scale {
  0% {
    transform: scale(1.5, 1.5);
  }
  34% {
    transform: scale(0.7, 0.7);
  }
  67% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(0.7, 0.7);
  }
}
